<a href="https://colab.research.google.com/github/OTN-Rajapaksha/Python-Programming/blob/main/Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello,Oshan,Thiyanga,Rajapaksha")

Hello,Oshan

###How to Print Text In Python

In [ ]:
print("Hello")

Hello

###How To Calculate in Python

In [ ]:
print(5+6)

11

In [ ]:
print(2*8)

16

In [ ]:
print(5-2)

3

In [ ]:
print(10%2)

0

###How to use Variable in Python

In [ ]:
name = "Kamal"
age = 20
weight = 54.5

print(name)

Kamal

In [ ]:
print(age)

20

In [ ]:
weight = 54.5
print(weight)

54.5

In [ ]:
print(name,age,weight)

Kamal 20 54.5

In [ ]:
mango,apple,banana = 5,10,15

print(mango,apple,banana)

5 10 15

###Data Types In Python

In [ ]:
#Integer

a = 10
b = 20

print(type(a))
print(a)
print(b)
print(a+b)

#Float

c = 3.4
d = -4.6

print(type(c))
print(c+d)

#Bool

e = True
d = False

print(type(e))
print(e)

#Complex

f = 5+6j
g = 3-8j

print(type(g))
print(f)

print(f.real)
print(g.imag)

<class 'int'>
10
20
30
<class 'float'>
-1.1999999999999997
<class 'bool'>
True
<class 'complex'>
(5+6j)
5.0
-8.0

**Python Dynamically Typed Language**

In [ ]:
x = 3

print(type(x))

x = 3.5

print(type(x))

x = "Oshan"

print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>

**Arithmetic Operators In Python**

In [ ]:
a = 11
b = 3

#Addition

print(a+b)

#Sutraction

print(a-b)

#Multification

print(a*b)

#Diviton

print(a/b)

#Floor Divition

print(a//b)

#Mode

print(a%b)

#Power

print(a**b)

14
8
33
3.6666666666666665
3
2
1331

**Assignment Operators In Python**

In [ ]:
a = 5
b = 2

a += b

print(a)

a -= b

print(a)

a *= b

print(a)

a /= b

print(a)

a //= b

print(a)

a %= b

print(a)

a **= b

print(a)

7
5
10
5.0
2.0
0.0
0.0

**Comparison Operators In Python**

In [ ]:
a = 5
b = 2

print(a == b)

print(a != b)

print(a > b)

print(a < b)

print(a >= b)

print(a <= b)

False
True
True
False
True
False

**Logical Operators In Python**

In [ ]:
print(4<5 and 5<6)

print(4<5 or 5>6)

print(not(4<5 and 5<6))

print(4>5 and 5<6)

print(4>5 or 5>6)

print(not(4>5 and 5>6))

True
True
False
False
False
True

**Identity Operators In Python**

In [ ]:
x = 10
y = 10
z = 8

print(x is not z)
print(x is y)
print(x is not y)

print(id(x))
print(id(y))
print(id(z))

True
True
False
10758024
10758024
10757960

**Conditional Statements In Python - if else elif**

In [ ]:
Marks = 70

if Marks >= 50:
  print("Pass")
  print("End")

else:

  print("Fail")
  print("End")

Pass
End

In [ ]:
Marks = 70

if Marks >70:
  print("Print Your Grade Is A")
  print("End")

elif Marks >60:
  print("Print Your Grade Is B")
  print("End")

elif Marks >50:
  print("Print Your Grade Is C")
  print("End")

else:
  print("Fail")
  print("End")

Print Your Grade Is B
End

**Nested Is Else Statements In Python**

In [ ]:
Number = 6

if Number >= 0:
  if Number == 0:
    print("Number Is Zero")
  else:
    print("Number Is Positive")
else:
  print("Number Is Negative")

Number Is Positive

**Print Function In Python**

In [ ]:
print("Hello World")

print("Hello\tWorld")

print("Hellow\bWorld")

Hello World
Hello	World
HellowWorld

**Getting User Inputs In Python**

In [ ]:
name = input("Enter Your Name : ")
print(name)

Enter Your Name : Oshan Thiyanga Nawod Rajapaksha
Oshan Thiyanga Nawod Rajapaksha

In [ ]:
name = input("Enter Your Name : ")
age = int(input ("Enter Your Age : "))
score = float(input("Enter Your Score : "))
print(name,age,score)

print(type(name))
print(type(age))
print(type(score))

Enter Your Name : Oshan
Enter Your Age : 25
Enter Your Score : 24.5
Oshan 25 24.5
<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
num1 = int(input("Enter First Number : "))
num2 = int(input("Enter Second Number : "))
print("Total Is",num1+num2)

Enter First Number : 23
Enter Second Number : 23
Total Is 46

**Strings Data Type In Python**

In [ ]:
name = "Oshan Thiyanga"

print(name)
print(name[0])
print(name[1])
print(name[2])
print(name[3])

Oshan Thiyanga
O
s
h
a

In [ ]:
s1 = "Oshan"
s2 = "Thiyanaga"
s3 = "Nawod"
s = 45

print(s1+""+s2+""+str(s3))
print(s1,s2,s3)
print(s)

OshanThiyanagaNawod
Oshan Thiyanaga Nawod
45

**List data type In Python**

In [11]:
lst1 = [10,20,30,40,50]
list2 = ["kamal",20,45,"Kandy",False,20]


print(lst1)
print(type(lst1))

print(list2[5])
print(list2[3])
print(list2[-2])
print(list2[4:-1])
print(list2[:5])

list2.insert(0,"Hello")
print(list2)

list2.append("Oshan")
print(list2)

list2.remove(20)
print(list2)

[10, 20, 30, 40, 50]
<class 'list'>
20
Kandy
False
[False]
['kamal', 20, 45, 'Kandy', False]
['Hello', 'kamal', 20, 45, 'Kandy', False, 20]
['Hello', 'kamal', 20, 45, 'Kandy', False, 20, 'Oshan']
['Hello', 'kamal', 45, 'Kandy', False, 20, 'Oshan']

**Tuple data type In Python**

A tuple is an ordered, immutable collection of elements. Tuples can store multiple items like integers, strings, or other data types. Once created, their values cannot be changed. They are defined using parentheses

In [15]:
tpl1 = (10,20,30,40)
tpl2 = tuple((33,45,56,67))

print(tpl1)
print(tpl2)

print(type(tpl1))
print(type(tpl2))

(10, 20, 30, 40)
(33, 45, 56, 67)
<class 'tuple'>
<class 'tuple'>

**Set data type In Python**

A set is an unordered, mutable collection of unique elements. Sets automatically remove duplicates and support operations like union, intersection, and difference. They are defined using curly braces

In [17]:
my_list = ["Kamal",20,"Jaffna",False,20]
my_tuple = ("Kamal",20,"Jaffna",False,20)
my_set = {"Kamal",20,"Jaffna",False,20}

print(my_list)
print(my_tuple)
print(my_set)

['Kamal', 20, 'Jaffna', False, 20]
('Kamal', 20, 'Jaffna', False, 20)
{False, 'Jaffna', 'Kamal', 20}

In [18]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

print(A.union(B))
print(A.intersection(B))
print(A.difference(B))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

**While Loop In Python**

A while loop repeatedly executes a block of code as long as a given condition is True. Itâ€™s useful for indefinite iteration. Syntax

In [20]:
x = 0;
while(x<6):
  print("*")
  x = x+1

*
*
*
*
*
*

In [26]:
x = 0;
while(x<10):
  print(x)
  x = x + 1

0
1
2
3
4
5
6
7
8
9

In [33]:
sum = 0
x = 1;

while(x<10):
  number_str = input("Enter Number : ")
  number = int(number_str)
  sum = sum + number
  x = x + 1

print(sum)

Enter Number : 1
Enter Number : 2
Enter Number : 3
Enter Number : 4
Enter Number : 5
Enter Number : 6
Enter Number : 7
Enter Number : 8
Enter Number : 9
45

In [39]:
multification = 1
x = 1;

while(x<10):
  number_str = input("Enter number : ")
  number = int(number_str)
  multification = multification * number
  x = x + 1

print(multification)

Enter number : 1
Enter number : 2
Enter number : 3
Enter number : 4
Enter number : 5
Enter number : 6
Enter number : 7
Enter number : 8
Enter number : 9
362880

# **For Loop In Python**

A for loop is used to iterate over a sequence (like a list, tuple, or string). It executes a block of code for each item in the sequence.[link text](https://)

In [41]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [53]:
for i in range(10):
  print("*" *i)

*
**
***
****
*****
******
*******
********
*********

# **Break and Continue statements in Python**

break stops the loop entirely when a condition is met. continue skips the current iteration and proceeds to the next. They are used to control loop flow based on specific conditions.

In [1]:
for x in range (10):
  if x == 5:
    break
  print(x)

0
1
2
3
4

In [2]:
x = 1
while(x<6):
  if x == 5:
    break
  print(x)
  x = x + 1

1
2
3
4

#**Built-in Functions and Modules In Python**

Python provides built-in functions like print(), len(), and type() for common tasks. Modules like math, random, and datetime offer extra functionality. Use import to access module features in your code.

In [4]:
#Built-in functions and modules

max(3,4,5,3,5,6,9)
min(3,2,4,6,2,8,0)

0

# **Object Oriented Programming In Python**

OOP is a programming approach based on classes and objects. It supports concepts like encapsulation, inheritance, and polymorphism. Python allows creating reusable, organized, and modular code using OOP principles.