<a href="https://colab.research.google.com/github/OTN-Rajapaksha/Python-Programming/blob/main/Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello,Oshan,Thiyanga,Rajapaksha")

Hello,Oshan

###How to Print Text In Python

In [1]:
print("Hello")

Hello

###How To Calculate in Python

In [6]:
print(5+6)

11

In [7]:
print(2*8)

16

In [8]:
print(5-2)

3

In [9]:
print(10%2)

0

###How to use Variable in Python

In [11]:
name = "Kamal"
age = 20
weight = 54.5

print(name)

Kamal

In [12]:
print(age)

20

In [14]:
weight = 54.5
print(weight)

54.5

In [15]:
print(name,age,weight)

Kamal 20 54.5

In [16]:
mango,apple,banana = 5,10,15

print(mango,apple,banana)

5 10 15

###Data Types In Python

In [27]:
#Integer

a = 10
b = 20

print(type(a))
print(a)
print(b)
print(a+b)

#Float

c = 3.4
d = -4.6

print(type(c))
print(c+d)

#Bool

e = True
d = False

print(type(e))
print(e)

#Complex

f = 5+6j
g = 3-8j

print(type(g))
print(f)

print(f.real)
print(g.imag)

<class 'int'>
10
20
30
<class 'float'>
-1.1999999999999997
<class 'bool'>
True
<class 'complex'>
(5+6j)
5.0
-8.0

**Python Dynamically Typed Language**

In [29]:
x = 3

print(type(x))

x = 3.5

print(type(x))

x = "Oshan"

print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>

**Arithmetic Operators In Python**

In [31]:
a = 11
b = 3

#Addition

print(a+b)

#Sutraction

print(a-b)

#Multification

print(a*b)

#Diviton

print(a/b)

#Floor Divition

print(a//b)

#Mode

print(a%b)

#Power

print(a**b)

14
8
33
3.6666666666666665
3
2
1331

**Assignment Operators In Python**

In [32]:
a = 5
b = 2

a += b

print(a)

a -= b

print(a)

a *= b

print(a)

a /= b

print(a)

a //= b

print(a)

a %= b

print(a)

a **= b

print(a)

7
5
10
5.0
2.0
0.0
0.0

**Comparison Operators In Python**

In [33]:
a = 5
b = 2

print(a == b)

print(a != b)

print(a > b)

print(a < b)

print(a >= b)

print(a <= b)

False
True
True
False
True
False

**Logical Operators In Python**

In [3]:
print(4<5 and 5<6)

print(4<5 or 5>6)

print(not(4<5 and 5<6))

print(4>5 and 5<6)

print(4>5 or 5>6)

print(not(4>5 and 5>6))

True
True
False
False
False
True